<template>
<div id="DateTimeWidget">
  <div id="Title"> SHOWING TIME</div>
  <div id="Date"> {{displayDate}}</div>
  <div id="DateButton">
    <datepicker class="date-picker"
    :calendar-button="true"
    calendar-button-icon="fas fa-calendar-alt"
    input-class="hideInput"
    v-model="sliderDate"
    @input="updateDate">
    </datepicker>
  </div>
  <div id="Time">{{displayTime}}</div>
  <div id="slidercontainer">
    <input type="range"
     min="0"
     v-bind:max="sliderMax"
     v-model="sliderValue"
     @input="updateTime"
     id="slider">
  </div>
</div>
    
</template>


<script>
import axios from 'axios';
import Datepicker from 'vuejs-datepicker';
export default {
  name: 'DateTimeWidget',
  components: {
    Datepicker
  },
  data() {
    return {
      sliderInterval: 12,
      sliderMax: (12*24)-1,
      sliderValue: 12*(new Date(Date.now()).getHours()),
      sliderDate: "NOW",
      
      priceData: {}
    }
  },
  methods: {
    async updateDate() {
      
      // get parameters of the current and next date
      let dt;
      if(this.sliderDate == "NOW"){
        dt = new Date(Date.now());
      } else {
        dt = new Date(this.sliderDate);
      }
      
      let year = dt.getFullYear();
      let month = dt.getMonth()+1;
      let day = dt.getDate();

      let nextDt = new Date(Date.parse(dt)+86400000);
      let nextYear = nextDt.getFullYear();
      let nextMonth = nextDt.getMonth()+1;
      let nextDay = nextDt.getDate();
    
      var requests = [];
      var next_day_requests = []
      // Clear Zones and build pricing requests
      for(let zone in this.priceData){
        this.priceData[zone] = {};
        let args = `year=${year}&month=${month}&day=${day}`;
        let nextargs = `year=${nextYear}&month=${nextMonth}&day=${nextDay}&hour=0`
        requests.push(axios.get('http://34.89.85.191/zones/'+zone+'/price/daily?'+args));
        next_day_requests.push(axios.get('http://34.89.85.191/zones/'+zone+'/price?'+nextargs));
      }

      // Get Current Dates Pricing Data
      await axios.all(requests).then(results => {
        results.forEach(price_response =>
        { 
          let zone = price_response.config.url.split("/")[4]
          
          let prices = price_response.data.prices;
          for (let i in prices) {
            
            let price = prices[i];
            let hour = price.datetime.split(" ")[1].split(":")[0];
            
            this.priceData[zone][hour] = {
              amount: price.price,
              color: this.toColor(price.price)
            }
          }
        })
      })
      // Get next days 00:00 price for trends
      await axios.all(next_day_requests).then(results => 
        {
          results.forEach(price_response =>
          {
            let zone = price_response.config.url.split("/")[4]
            console.log(zone);
            this.priceData[zone][24] = price_response.data.price;
          })
      });   
      console.log(this.priceData);
      
      // emit the new date to the dashboard
      let date = {
        'year': year,
        'month': month,
        'day': day
      };
      this.$emit('date-updated', date);
      this.$emit('price-updated', this.priceData);
    },
    updateTime() {
      this.$emit('time-updated', this.activeHour);
    },
    toColor(amount) {
      // returns a CSS color descriptor based on the given amount
      
      if (amount == undefined) {
        return '#AAAAAA';
      }
      
      // set some reference prices
      let referencePriceLow = 0.5
      let referencePriceHigh = 3.0
      let referencePriceMid = (referencePriceHigh + referencePriceLow) / 2
      
      // define list of hexadecimal digits
      let digits = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "A", "B", "C", "D", "E", "F"]
      let interval = (referencePriceMid - referencePriceLow) / digits.length
      
      // get the digit index for the red color component:
      // the higher the current price is, the higher the red component
      let red = null
      for (i = 0; i < digits.length; i++) {
        if (amount <= referencePriceLow + (i * interval)) {
         red = i
         break
        }
      }
      if (red == null) {
        red = digits.length-1
      }
      
      // get the digit index for the green color component:
      // the lower the current price is, the higher the red component
      let green = null
      for (var i = 0; i < digits.length; i++) {
        if (amount >= referencePriceHigh - (i * interval)) {
         green = i
         break
        }
      }
      if (green == null) {
        green = digits.length-1
      }
      
      // compose the complete color descriptor
      return "#" + digits[red] + digits[red] + digits[green] + digits[green] + "00"
    }
  },
  computed: {
    displayTime() {
      var result = "";
      // Do the hour
      if(this.sliderValue < this.sliderInterval*10){
        // Add extra 0 for formatting
        result = result.concat("0");
      }
      result = result.concat(String(Math.floor(this.sliderValue/this.sliderInterval)),":");
      // Do the minutes
      if(this.sliderValue % this.sliderInterval <  2){
        // More formatting
        result = result.concat("0")
      }
      result = result.concat(String((this.sliderValue % this.sliderInterval) * 5));
      return result;
    },
    displayDate() {
      if(this.sliderDate === "NOW"){return this.sliderDate}
      else{
        var date = String(this.sliderDate).split(" ");
        let days = ['0th', '1st','2nd','3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th', '11th', '12th', '13th', '14th', '15th', '16th', '17th',
        '18th', '19th', '20th', '21st', '22nd', '23rd', '24th', '25th', '26th', '27th', '28th', '29th', '30th', '31st'];
        
        return date[1].concat(" ", days[parseInt(date[2])])
      }

    },
    activeHour() {
      let value = Math.floor(this.sliderValue / this.sliderInterval);
      let result = null;
      if(value < 10){result = '0' + value.toString()}
      else{result = value.toString()}
      return result;
    }
  },
  mounted(){
  
    axios.get('http://34.89.85.191/zones').then(

      response => {
        for(let zone in response.data.zones){
        
          // create an object for the zone in the price data
          let zoneId = response.data.zones[zone].id;
          this.priceData[zoneId] = [];
        }
      }
    ).then(
      () => {
        // fetch the price data
        this.updateDate();
      }
    )
  }
}
</script>

<style scoped>

#DateTimeWidget{
    display: flex;
    flex-direction: row;

    background-color: #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;


}

#Title, #Date, #DateButton, #Time, #slidercontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#Title, #Date, #DateButton, #Time, #slidercontainer{
    padding-left: 12px;
}

#slidercontainer{
    flex: 1;
    padding-right: 12px;
}

#Time{
    width: 5%;
}

#slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25%;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#slider:hover {
  opacity: 1;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

#slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

#date-picker{
    background-color: transparent;
    color: transparent;
    position: relative;
    width: 0px;
    height: 0px;
    /* Really Hacky Positioning... */
    right: 28px;
    top: 8px;
    visibility: hidden;
}

</style>

<style>

.hideInput{
    display: none;
}

</style>