<template>
  <div id="EventPlannerWidget">
    <div id="FormSelector">
      <div class="Selector" :style="liveActive" @click="showLiveForm">
        <p class="SelectorText">Live Event</p>
      </div>
      <div class="Selector" :style="plannedActive" @click="showPlannedForm">
        <p class="SelectorText">Planned Event</p>
      </div>
    </div>
    <div id="FormWindow">
        <div id="PlannedEventForm" v-show="!live_form">
          <div class="PlannedFormSegment">
            <p class="FormText">Enter a name for the event:</p>
            <input type="text" class="textbox" v-model="planned.name">
          </div>
          <div class="PlannedFormSegment">
            <p class="FormText">Date:</p>
            <datepicker class="date-picker"
              :calendar-button="true"
              calendar-button-icon="fas fa-calendar-alt"
              input-class="dateInput"
              format = "yyyy-MM-dd"
              v-model="planned.date">
              </datepicker>
          </div>
          <div id="PlannedTimes" class="PlannedFormSegment">
            <div id="PlannedStartTime">
              <p class="FormText">Start time:</p>
              <input type="time" v-model="planned.start_time">
            </div>
            <div id="PlannedEndTime">
              <p class="FormText">End time:</p>
              <input type="time" v-model="planned.end_time">
            </div>
          </div>
          <div class="PlannedFormSegment">
            <p class="FormText">Website (optional):</p>
            <input type="text" class="textbox" v-model="planned.website">
          </div>
          <div class="SubmitButton" @click="submit" :style="submitActive">
            <p>Submit</p>
          </div>
        </div>
        <div id="LiveEventForm" v-show="live_form">
          <div class="LiveFormSegment">
            <p class="FormText">Select an event category:</p>
            <select id="LiveEventCategory" class="textbox" v-model="live.category">
              <option v-for="cat in category_types" :value="cat" :key="cat">
                {{cat}}
              </option>
            </select>
          </div>
          <div class="LiveFormSegment">
            <p class="FormText">If "Other", specify a one-word description of the event:</p>
            <input type="text" class="textbox" :disabled="!liveCategoryOther" v-model="live.description">
          </div>
          <div class="SubmitButton" @click="submit" :style="submitActive">
            <p>Submit</p>
          </div>
        </div>
        <div id="MapContainer">
          <p class="FormText">Indicate the location of the event on the map:</p>
          <gmap-map id="map"
          :center="center"
          :zoom="15"
          :options="{disableDefaultUI: true}">
            <GmapMarker
              v-bind:position = "marker_position"
              :icon = "marker_icon"
              :clickable = "true"
              :draggable = "true"
              @dragend="updateLocation"/>
          </gmap-map> 
        </div>
    </div>
  </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
import {gmapApi} from 'vue2-google-maps';
import axios from 'axios';

export default {
  name: "EventPlannerWidget",
  components: {
    Datepicker
  },
  props: [],
  data() {
    return {
      center: { lat: 53.959702, lng: -1.082480},
      marker_default_position: { lat: 53.959702, lng: -1.082480},
      marker_position: { lat: 53.959702, lng: -1.082480},
      marker_icon: "http://maps.google.com/mapfiles/ms/icons/green-dot.png",
      marker_region: "guildhall",
      marker_street: null,
      
      live_form: true,
      category_types: ["collision", "construction", "closure", "flood", "ice", "other"],  
      
      planned: {
        name: '',
        date: '',
        start_time: '',
        end_time: '',
        website: ''
      },
      
      live: {
        category: '',
        description: ''
      },

      regions: []
    };
  },
  methods: { 
    showLiveForm() {
      this.live_form = true;
    },
    showPlannedForm() {
      this.live_form = false;
    },
    updateLocation(coordinates){
    
      // update the new marker position
      this.marker_position = {lat: parseFloat(coordinates.latLng.lat()), lng: coordinates.latLng.lng()};
              
      // check the new location is within toll area
      this.marker_region = this.getRegion(coordinates.latLng.lat(), coordinates.latLng.lng());
      if (this.marker_region != null) {
      
        // color the marker icon green
        this.marker_icon = "http://maps.google.com/mapfiles/ms/icons/green-dot.png"
              
        // create the reverse-geocoding request
        var geocoderService = new this.google.maps.Geocoder();
        let request = {
          location: this.marker_position
        };
        
        // send the request
        var tref = this;
        geocoderService.geocode(request, function(result, status){
          if(status == 'OK'){
            for (var i in result[0].address_components) {
              var component = result[0].address_components[i];
          
              // find the address component containing road name
              if (component.types[0] === "route") {
              
                // update the location
                tref.marker_street = component.long_name;
                break;
                
              }
              
            }
          }else{
            console.log(status);
          }
        });
        
      } else {
      
        // color the marker icon red
        this.marker_icon = "http://maps.google.com/mapfiles/ms/icons/red-dot.png"
      
      }
    },
    submit() {
      if (this.formComplete) {    
        if (this.live_form) {
          
          // Build the request
          let request = {};
          request.zoneId = this.getRegion(this.marker_position.lat, this.marker_position.lng);
          request.type = 'live';
          if(this.live.category != 'other'){
            request.name = this.live.category;
          }else{
            request.name = this.live.description;
          }
          let d = new Date();
          let day;
          if (d.getMonth() < 10){
            day = d.getFullYear() + '-0' + (d.getMonth()+1) + "-" + d.getDate() + " "
          } else{
            day = d.getFullYear() + '-0' + (d.getMonth()+1) + "-" + d.getDate() + " "
          }
          
          request.startDatetime = day + d.getHours() + ":00:00";
          request.endDatetime = day + (d.getHours() + 1) + ":00:00";

          // Send the request
          axios.post("http://34.89.85.191/events", request).then(
            response => {console.log(response)}
          ).catch(
            error => {console.log(error)}
          )

          console.log("Event Submitted");
          
          this.clear(this.live);
          
        } else {
          // create the planned event request
          let request = {};
          request.zoneId = this.getRegion(this.marker_position.lat, this.marker_position.lng);
          request.type = 'planned';
          request.name = this.planned.name;

          let day;
          if(this.planned.date.getMonth() < 10){
            day = this.planned.date.getFullYear() + '-0' + (this.planned.date.getMonth()+1) + '-' + this.planned.date.getDate() + " ";
          }else{
            day = this.planned.date.getFullYear() + '-' + (this.planned.date.getMonth()+1) + '-' + this.planned.date.getDate() + " ";
          }
          request.startDatetime = day + this.planned.start_time.slice(0,-2) + "00:00";
          request.endDatetime = day + this.planned.end_time.slice(0, -2) + "00:00";
          request.description = this.planned.website;
          //send the request
          axios.post("http://34.89.85.191/events", request).then(
            response => {console.log(response)}
          ).catch(
            error => {console.log(error)}
          )
          console.log("Event Submitted");
          
          this.clear(this.planned);
          
        }
      }
    },
    clear(ob) {
    
      // set all properties of the supplied object to the empty string
      for (let [key] of Object.entries(ob)) {
        ob[key] = '';
      }
      
      // reset the map position
      this.marker_position = this.marker_default_position;
      this.center = this.marker_default_position; // DOESN'T WORK
      
    },
    getRegion(lat, lng){
      for(let i in this.regions){
        if(this.inRegion(i, lat, lng)){
          return this.regions[i].id;
      }}
      console.log("Not in Region");
    },
    inRegion(index, lat, lng){

      let lat_check = false;
      let lng_check = false;
      // Check point is in zone laterally
      for(let cord in this.regions[index].coordinates){
          if (this.regions[index].coordinates[cord].lat > lat){
            for(let cord_2 in this.regions[index].coordinates){
              if (this.regions[index].coordinates[cord_2].lat < lat){
                lat_check = true;
                break;
              }
            }
          }
      }
      // Check point is in zone longitudaly
      for(let cord in this.regions[index].coordinates){
          if (this.regions[index].coordinates[cord].lng > lng){
            for(let cord_2 in this.regions[index].coordinates){
              if (this.regions[index].coordinates[cord_2].lng < lng){
                lng_check = true;
              }
            }
          }
      }
      return lat_check && lng_check
    }
  },
  computed: {
    // Get the google maps api from vue2-google-maps
    google: gmapApi,
    liveActive() {
      let color;
      let border;
      if (this.live_form) {
        // set to white if live form is selected
        color = "#EEEEEE";
        border = "1px solid #DDDDDD";
        
        
      } else {
      
        // set to gray otherwise
        color = "#DDDDDD";
        border = "none";
        
      }
      
      return { backgroundColor: color, 'border-bottom': border };
      
    },
    plannedActive() {
    
      let color;
      let border;
      if (!this.live_form) {
      
        // set to white if planned form is selected
        color = "#EEEEEE";
        border = "1px solid #DDDDDD";
        
      } else {
      
        // set to gray otherwise
        color = "#DDDDDD";
        border = "none";
        
      }
      
      return {backgroundColor: color, 'border-bottom': border };
      
    },
    liveCategoryOther() {
      return this.live.category === "other";
    },
    formComplete() {
    
      if (this.marker_region == null) {
        return false;
      }
    
      if (this.live_form) {
      
        // category must be selected, plus a description if "other" category
        let categoryValid = this.live.category !== "";
        let descriptionIfOther = !this.liveCategoryOther || this.live.description !== "";
        return categoryValid && descriptionIfOther;
        
      } else {
      
        // all planned event form fields (except optional website) required
        return (this.planned.name != '' &&
                this.planned.date != '' &&
                this.planned.start_time != '' &&
                this.planned.end_time != '')
                
      }
  
    },
    submitActive() {
      let color;
      let text;
      if (this.formComplete) {
        // set to green if form is complete
        color = "#99DDAA";
        text = "#000000";
      } else {
        // set to gray otherwise
        color = "#EAEAEA";
        text = "#888888";
      }
      return { backgroundColor: color, 'color': text };
    }
  },
  created(){

    // Populate zones
    axios.get('http://34.89.85.191/zones').then(

      response => {
        for(let zone in response.data.zones){
          axios.get('http://34.89.85.191/zones/'+response.data.zones[zone].id).then(
            zone_response => {
              let new_coordinates = [];
              for(let i in zone_response.data.coordinates){
                new_coordinates.push({
                  lat: parseFloat(zone_response.data.coordinates[i].latitude),
                  lng: parseFloat(zone_response.data.coordinates[i].longitude),
                });
              }
              this.regions.push({
                id: zone_response.data.id,
                name: zone_response.data.name,
                type: ['good','okay','bad'][Math.floor(Math.random()*3)],
                coordinates: new_coordinates,
                price: zone_response.data.price
            });
          })
        }
      }
    )


  }
};
</script>

<style  scoped>

#EventPlannerWidget {
  background-color: #EEEEEE;
  display: inline;
  justify-content: center;
  align-items: center;
  padding: 0px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#FormSelector{
  box-sizing: border-box;
  height: 7%;
  width: 100%;
  background-color: #DDDDDD;
  
  display: flex;
}

.Selector{
  box-sizing: border-box;
  padding: 2%;
  width: 25%;
  margin-right: 2px;
  
  background-color: #FFFFFF;

  display: flex;
  align-items: center;
  justify-content: center;

}

.SelectorText{
  font-weight: bold;
  margin: 0%;
}

#FormWindow{
  height: 93%;
  width: 100%;
  
  display: flex;
  flex-direction: row;
  align-items: center;
}

#LiveEventForm, #PlannedEventForm, #MapContainer{
  box-sizing: border-box;
  margin-left: 4%;
  margin-top: 10%;
  margin-bottom: 10%;

  height: 100%;

  display: flex;
  flex-direction: column;
  
}

#LiveEventForm, #PlannedEventForm{
  max-width: 40%;
}

#MapContainer{
  margin-right: 4%;
  box-sizing: border-box;
  padding-bottom: 4%;
  flex: 1;
}

#map{
  flex-grow: 1;
  width: 100%;


  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.LiveFormSegment, .PlannedFormSegment{

  box-sizing: border-box;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}


#LiveEventCategory, #LiveEventDescription{
  box-sizing: border-box;
  padding: 2%;
}

#LiveEventCategory{
  text-transform: capitalize;
  width: 60%;
}

#PlannedTimes{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  max-width: 100%;
}

#PlannedStartTime, #PlannedEndTime{
  width: 100%;
}

input{
  box-sizing: border-box;
  min-width: 20%;
}


.textbox{
  width: 100%;
}

input[type=time]{
  width: 100%;
  max-width: 100%;
}


.SubmitButton{
  align-self: center;
  display: flex;
  box-sizing: border-box;
  min-width: 60%;
  
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p{
  font-size: 1.5vmin;
  text-align: left;
}

.FormText{
  width: 100%;
}

</style>

<style>


.dateInput{
  width: 80%;
}

</style>