<template>
    <div id="FeedWidget">
        <div id="title">
            <h1 v-if="isPasses">Your Tickets</h1>
            <h1 v-if="isEvents">Your Events</h1>
        </div>
        <div v-if="isPasses" id="feed">
            <div v-if="noData" id="noDataView">
                <p>You have no tickets</p>
            </div>
            <TicketItem v-for="ticket in data"
            :key="ticket.id"
            :type="ticket.type"
            :startDate="ticket.startDatetime.split(' ')[0]"
            :endDate="ticket.endDatetime.split(' ')[0]"
            :price="ticket.price"/>
        </div>
        <div v-if="isEvents" id="feed">
            <div v-if="noData" id="noDataView">
                <p>No upcoming events</p>
            </div>
            <EventItem v-for="event in data"
            :key="event.id"
            :type="event.type"
            :title="event.name"
            :startDate="event.startDatetime.split(' ')[0]"
            :startTime="event.startDatetime.split(' ')[1]"
            :endTime="event.endDatetime.split(' ')[1]"
            :zone="event.zoneId"
            :website="event.description"/>
        </div>           
    </div>
</template>

<script>
import TicketItem from './TicketItem';
import EventItem from './EventItem';
import axios from 'axios';

export default {
    name: 'FeedWidget',
    components: {
        TicketItem,
        EventItem
    },
    props: [
        "type"
    ],
    data() {
        return {
            data : []
        }
    },
    computed: {
        noData(){
            if(this.data.length == 0){
                return true;
            }else{
                return false;
            }
        },
        isEvents(){
            return this.type === "events"
        },
        isPasses(){
            return this.type === "passes"
        }
    },
    created(){
        this.get_data();
        setInterval(this.get_data, 3000);
    },
    methods:{
        get_data(){
            if(this.type === "events"){
                axios.get('http://34.89.85.191/events').then(
                response => {
                    if (response.data.events != undefined) {
                        this.data = response.data.events.reverse();
                        //console.log(this.data)
                    }
                })
            }
            else if(this.type === "passes"){
                axios.get('http://34.89.85.191/passes').then(
                response => {
                    if (response.data.passes != undefined) {
                      this.data = response.data.passes.reverse();
                      //console.log(this.data)
                    }
                })
            }
        }
    }
}
</script>

<style scoped>

#FeedWidget{
    background-color: #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: auto;
    line-height: 21px;
    align-items: center;
    text-align: center;

}

#title{
    box-sizing: border-box;
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;

    align-items: center;
    justify-content: center;
    width: 100%;

    border-bottom: 1px solid black;
    text-transform: uppercase;
}

#feed{
    flex-grow: 1;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#noDataView{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

</style>