<template>
<div class="LiveEventItem">
    <div id="EventIcon">
        <i v-bind:class=icon></i>
    </div>
    <div id="Description">
        <div id="EventDescription">{{this.description}}</div>
        <div id="EventLocation">{{this.location}}</div>
    </div>
    <div id="EventZone">{{this.zoneId}}</div>
</div>
    
</template>

<script>
export default {
    name: 'LiveEventItem',
    props: [
        "iconType",
        "description",
        "zoneId",
        "location"
    ],
    data() {
        return {}
    },
    computed: {
        icon() {
            var iconMapping = {"collision": "fas fa-car-crash",
                           "construction": "fas fa-tools",
                           "closure": "fas fa-times-circle",
                           "flood": "fas fa-water",
                           "ice": "fas fa-snowflake"}
            var icon = iconMapping[this.description]
            if (icon == null) {icon = "fas fa-exclamation-triangle"}
            return icon
        }
    }
}
</script>

<style scoped>

.LiveEventItem{
    display: flex;
    flex-direction: row;

    background-color: #EEEEEE;
    box-sizing: border-box;
    border-bottom: 1px solid #bbbbbb;

    padding: 2%;

}

#Description{
    display: flex;
    flex-direction: column;
    flex-grow: 1
}

#EventIcon, #EventZone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

#EventDescription{
    font-size: 1vw;
}

#EventLocation{
    font-size: 0.8vw;
}

#EventZone{
    font-size: 0.8vw;
}


</style>