<template>
  <div id="NavigationBar">
    <div id="ImageBox" class="NavigationItem">
      <img src="@/assets/logo.svg" alt="Logo">
    </div>
    <div class="NavigationItem" v-for="i in elements" v-bind:key="elements.indexOf(i)">
      <navigation-element ref="navItem"
        v-bind:title="i.title" 
        v-bind:icon="i.icon"
        v-bind:isActive="i.isActive"
        v-bind:isCollapsed="isCollapsed" 
        v-on:change-view="changeView"/>
    </div>
    <div class="CollapseItem NavigationItem" @click="toggleCollapse">
      <navigation-element v-if="isCollapsed"
        v-bind:title="'Collapse'" 
        v-bind:icon="'fas fa-angle-double-right'"
        v-bind:isActive="false"
        v-bind:isCollapsed="true"/>
      <navigation-element v-if="!isCollapsed"
        v-bind:title="'Collapse'" 
        v-bind:icon="'fas fa-angle-double-left'"
        v-bind:isActive="false"
        v-bind:isCollapsed="false" />
    </div>
  </div>
</template>

<script>
import NavigationElement from './NavigationElement.vue'

export default {
  name: "NavigationBar",
  components: {
    NavigationElement
  },
  data() {
    return {
      elements: [
        {'title': 'Dashboard', 'icon': 'fas fa-home',
        'isActive': true},
        {'title': 'Route Planner', 'icon': 'fas fa-route',
        'isActive': false},
        {'title': 'Passes', 'icon': 'fas fa-ticket-alt',
        'isActive': false},
        {'title': 'Events', 'icon': 'fas fa-calendar-alt',
        'isActive': false},
        ],
      isCollapsed: false
    }
  },
  computed : {
    collapseAlignment : function(){
      if(this.isCollapsed){return 'center';}
      else {return 'left';}
    }
  }, 
  methods:{
    toggleCollapse(){
      this.isCollapsed = !this.isCollapsed;
      this.$emit("toggle-collapse");
    },
    changeView(view){
      for(var el in this.elements){
        if(this.elements[el].title === view){this.elements[el].isActive = true;}
        else {this.elements[el].isActive = false;}
      }
      this.$emit('change-view', view);
    }
  }
}
</script>

<style scoped>

#NavigationBar{
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  background: #3E885B;
  border: 1px solid #888888;
}

.NavigationItem{
  box-sizing: border-box;
  height: 8.3%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#ImageBox{
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 16.6%;
  padding: 10px;
}

img{
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.CollapseItem {
  margin-top: auto;
}

i {
  font-size: 1.2vw;
}

h1{
  font-size: 1.2vw;
}
</style>