<template>
    <div id="TicketBuyerWidget">
        <div id="Selector">
            <div class="Selection" :style="style_day" @click="change_view('day')"><h1>Day</h1></div>
            <div class="Selection" :style="style_week" @click="change_view('week')"><h1>Week</h1></div>
            <div class="Selection" :style="style_month" @click="change_view('month')"><h1>Month</h1></div>
        </div>
        <div id="DateView" @click="activate_submit">
            <div id="DayView" v-if="active_view==='day'">
                <v-date-picker
                v-model="startDate"
                mode="single"
                :attributes="attributes"
                color="green"
                is-inline />
            </div>
            <div id="WeekView" v-if="active_view==='week'">
                <v-date-picker
                v-model="startDate"
                mode="single"
                :attributes="attributes"
                color="green"
                is-inline />
            </div>
            <div id="MonthView" v-if="active_view==='month'">
                <v-date-picker
                v-model="startDate"
                mode="single"
                :attributes="attributes"
                color="green"
                is-inline />
            </div>
        </div>
        <div id="Purchase" >
            <div id="PriceContainer"><p>{{print_price}}</p></div>
            <div id="BuyButton" @click="submit" :style="buybutton_style"><p>Buy Now</p></div>
        </div>
    </div>
</template>
<script>
import axios from 'axios';

export default {
    name: "TicketBuyerWidget",
    data(){
        return{
            active_view: "day",
            price: 2.5,
            selected_month: "May",
            startDate: new Date(),
            submit_disabled: true,
        }
    },
    computed:{
        style_day(){
            if(this.active_view === "day"){
                return {'background-color': '#3E885B'}
            }else{
                return {'background-color': '#EEEEEE'}
            }
        },
        style_week(){
            if(this.active_view === "week"){
                return {'background-color': '#3E885B'}
            }else{
                return {'background-color': '#EEEEEE'}
            }
        },
        style_month(){
            if(this.active_view === "month"){
                return {'background-color': '#3E885B'}
            }else{
                return {'background-color': '#EEEEEE'}
            }
        },
        attributes(){
            if(this.active_view === "day"){
                return [
                    {
                        key: 'picked',
                        highlight: true,
                        dates: this.startDate 
                    }

                ]
            }
            else if(this.active_view === "week"){
                return [
                    {
                        key: 'picked',
                        highlight: true,
                        dates: {start: this.startDate, span: 7}
                    }
                ]
            }
            else if(this.active_view === "month"){
                return [
                    {
                        key: 'picked',
                        highlight: true,
                        dates: {start: this.startDate, span: 31}
                    }
                ]
            }
            return []
            
        },
        print_price(){
            return "Price: " + this.price.toLocaleString('en-UK', { style: 'currency', currency: 'GBP'});
        },
        buybutton_style(){
            var style = {}
            console.log(this.submit_disabled)
            if(this.submit_disabled){
                style['background-color'] = "#CCCCCC";
                style['color'] = "#DDDDDD";
            }
            return style
        }

    },
    watch: {
        startDate(){
          if(this.active_view === 'day'){
              this.price = Math.random() * 3;
          }
          else if(this.active_view === 'week'){
              this.price = 9 + Math.random() * 9;
          }
          else if(this.active_view === 'month'){
              this.price = 27 + Math.random() * 27;
          }
        }
    },
    methods:{
        change_view(view){
            this.active_view = view;
        },
        activate_submit(){
            this.submit_disabled = false;
        },
        submit(){
            if(this.submit_disabled){return}
            var request = {};
            request.type = this.active_view;
            request.price = this.price;
            request.startDatetime = this.startDate.getFullYear() + "-" + this.startDate.getMonth() + "-" + this.startDate.getDate() + " 06:30:00"
            request.endDatetime = null;
            var end = new Date();
            end.setTime(this.startDate.getTime());
            if(this.active_view === 'day'){
                end.setDate(this.startDate.getDate() + 1);                
            }
            else if(this.active_view === 'week'){
                end.setDate(this.startDate.getDate() + 7);
            }
            else if(this.active_view === 'month'){
                end.setDate(this.startDate.getDate() + 31);
            }
            request.endDatetime = end.getFullYear() + "-" + end.getMonth() + "-" + end.getDate() + " 06:30:00"

            axios.post("http://34.89.85.191/passes", request).then(
            response => {console.log(response)}
          ).catch(
            error => {console.log(error)}
          )
            this.submit_disabled = true;
        }
    }
}
</script>

<style scoped>

#TicketBuyerWidget{

    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#Selector{
    height: 12.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.Selection{
    box-sizing: border-box;
    height: 100%;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Selection:hover{
    cursor: pointer;
}

#DateView{
    height: 75%;
    width: 100%;
    background-color: #3E885B;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#DayView{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#Purchase{
    height: 12.5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    font-size: 1.2vw;
}

#PriceContainer{
    width: 40%;
  
}

#BuyButton{
    width: 40%;
    background-color: #3E885B;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}



</style>