<template>
    <div class="TicketItem">
        <div id="Type"><p>{{type}}</p></div>
        <div id="Date"><p>{{print_date}}</p></div>
        <div id="Price"><p>{{print_price}}</p></div>
        <div id="GetReceipt">
            <i class="fas fa-receipt" @click="get_receipt"></i>
        </div>
    </div>  
</template>

<script>
export default {
    name: 'TicketItem',
    props: [
        "type",
        "startDate",
        "endDate",
        "price"
    ],
    computed:{
        print_date(){
            if(this.type === 'Daily'){
                return this.startDate
            }else{
                return this.startDate + ' to ' + this.endDate
            }
        },
        print_price(){
            return '£' + this.price.toFixed(2)


        }
    },
    methods: {
        get_receipt(){
            alert("Not Implemented");
        }
    }
}
</script>

<style scoped>

.TicketItem{
    background: rgba(109, 228, 157, 0.3);
    box-sizing: border-box;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;

    padding-top: 8px;
    padding-bottom: 8px;

}

#Type, #Date, #Price, #GetReceipt{
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 4%;
    font-size: 1vw;
}

#Date, #GetReceipt, #Price{
    justify-content: center;
}

#Type{
    width: 10%;
    justify-content: left;
    text-transform: uppercase;
}

#Price{
    width: 10%;
}

#GetReceipt{
    padding-right: 4%;
}

#GetReceipt:hover{
    cursor: pointer;
}

#Date{
    flex-grow: 1;
}




</style>